MONGO_URL=mongodb://127.0.0.1:27017
DB_NAME=mvno_manager
CORS_ORIGINS="https://mvno.homeonapp.com.br"
JWT_SECRET=ALTERE_PARA_UM_VALOR_SEGURO_python3_-c_import_secrets_print_secrets_token_hex_32
COOKIE_SECURE=true
COOKIE_SAMESITE=None
ADMIN_EMAIL=admin@mvno.com
ADMIN_PASSWORD=admin123
USE_MOCK_API=false
TATELECOM_API_URL=http://sistema.tatelecom.com.br/api/public
TATELECOM_USER_TOKEN=SEU_TOKEN_AQUI
TATELECOM_TIMEOUT=30
